
:root {
    --pink: #f14e95;
    --bg: #0a0a0a;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);

}



.body {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    min-height: 300px;
}


.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/poto2.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: blur(2px);
}

.hero {
    position: relative;
    min-height: 100vh;

}

.hero h1,
.hero h4,
.hero h2,
.hero p {
    text-shadow: var(--shadow);

}

.hero h1 {
    font-family: "Sacramento", cursive;
    font-size: 8rem;
    /* margin-top: 1rem; */
}

.hero h2 {
    font-family: "Sacramento", cursive;
    /* margin-bottom: 1rem; */
    font-size: 6rem;
    font-weight: bold;
    color: #ff81b7;
}

.hero h4 {
    font-size: 1.5rem;
    margin-bottom: 1rem;


}

.hero p {
    font-size: 1.4rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 550;

}


.hero a {
    color: var(--pink);
    background-color: white;
    font-family: "Work Sans", sans-serif;
    font-size: 1.2rem;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--pink);
    color: white;
}

.mynavbar {
    background-color: rgba(255, 255, 255, 0.5) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .offcanvas {
    height: 100vh;
}


.mynavbar .navbar-brand,
.mynavbar .offcanvas-title {
    font-family: "Sacramento", cursive;
    font-size: 1.8rem;
    font-weight: bold;
}

.mynavbar .nav-link {
    text-transform: uppercase;
}

.home {
    background-image: url(img/b2.jpg);
    background-size: cover;
    min-height: 100vh;
    margin-top: -4rem;
    padding-top: 10rem;
    padding-bottom: 5rem;
}



.home h2,
.gallery h2,
.rsvp h2 {
    color: var(--pink);
    font-family: "Sacramento", cursive;
    font-size: 6.5rem;
    font-weight: bold;
}

.home h3 {
    color: #444;
    font-size: 1.4rem;
   
}

.home p {
    font-size: 1.6rem;
    color: #666;
}

.home .couple {
    margin-top: 30px;
}
.home .couple .redo {
    padding-top: 2.5rem;
}
.home .couple .eki  {
    padding-bottom: 2.5rem;
}
.home .couple h3 {
    font-family: "Sacramento", cursive;
    font-size: 4rem;
    color: var(--black);
    font-weight: bold;
}


.home .couple p {
    font-size: 1.5rem;
    color: #595858;
    font-family: "Work Sans", sans-serif;
    text-align: center;
    font-weight: 400;
}

.home .couple .redo h3 {
    font-family: "Sacramento", cursive;
    font-size: 3.2rem;
    color: var(--black);
    font-weight: bold;
}



.home .couple img {
    width: 100%;
}




.home .heart {
    width: 50px;
    height: 50px;
    background-color: white;
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(50px);
}


.home .heart i {
    margin: auto;
    color: var(--pink);
}




.info {
    background-color: var(--bg);
    color: white;
    padding-top: 9rem;
    padding-bottom: 8rem;
}


.info h2 {
    color: var(--pink);
    font-family: "Sacramento", cursive;
    font-size: 6.5rem;
    font-weight: bold;
    margin-bottom: 2rem;

}



.info .alamat {
    font-size: 1.1rem;
}


.info .description {
    font-size: 1rem;
    font-weight: 450;
}



.gallery,
.rsvp {
    padding-top: 10rem;
    padding-bottom: 8rem;
}

.gallery span {
    text-transform: uppercase;
    color: #666;
    font-size: 1rem;
    letter-spacing: 1.5px;
    display: block;
    margin-bottom: 2rem;
    margin-top: 3.5rem;
}


.gallery {
    background-color: #f5f5f5;
    margin-top: 2px;
    padding-top: 2rem;
}


.gallery p,
.rsvp p {
    font-size: 1rem;
    font-weight: 450;
    margin-bottom: 2rem;

}


.gallery h2 {
    margin-bottom: 1.5rem;

}

.rsvp {
    background-color: var(--bg);
}

.rsvp h2 {
    font-size: 6rem;
}

.rsvp p {
    color: white;
}

.rsvp form label {
    color: white;
}

.rsvp button {
    background-color: var(--pink);
    color: white;
    border: 1px solid var(--pink);
}

.rsvp button:hover {
    background-color: white;
    color: white;
    border: 1px solid white;
}



.audio-icon-wrapper {
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    position: fixed;
    bottom: 2.5rem;
    right: 2rem;
    cursor: pointer;
    color: white;
    opacity: 0.5;
    mix-blend-mode: difference;
    animation: rotating 4s linear infinite;
    transform-origin: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
}

@keyframes rotating {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}





/* Media Query */
/* Extra large */

@media (max-width: 1200px) {
    .home .heart {
        transform: translateX(-50%) translateY(35px);
    }
}

/** laptop*/
@media (max-width: 992px) {
    html {
        font-size: 75%;

    }

    .simply-countdown>.simply-section {
        padding: 55px;
    }

    .home .heart {
        display: none;
    }
}

/** tablet */
@media (max-width: 768px) {
    html {
        font-size: 65%;
    }

    .simply-countdown>.simply-section {
        padding: 45px;
        margin: 5px;
    }

    
}



/** mobile phone */
@media (max-width: 576px) {
    html {
        font-size: 60%;
    }

    .simply-countdown>.simply-section {
        padding: 40px;
        margin: 5px;
    }
    .mynavbar .nav-link {
        font-size: 1.3rem;
        text-align: center;
    }
    .mynavbar .navbar-brand{
        font-size: 1.5rem;
    }
}
